@charset \"UTF-8\";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

a img
{
	border:none;
}

a:hover
{
	color:#233245;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
{
	border:0;
	display:block;
	margin:0;
	outline:0;
	padding:0;
}

a
{
	color:#2d4159;
}

body:after
{
	-khtml-border-radius:6px;
	-moz-border-radius:6px;
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 5px 1px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 5px 1px;
	-webkit-border-radius:6px;
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 5px 1px;
	background:#000;
	border-radius:6px;
	bottom:2px;
	box-shadow:rgba(0,0,0,0.3) 0 2px 5px 1px;
	content:\" \";
	left:0;
	position:absolute;
	right:0;
	top:0;
	z-index:-1;
}

body:before
{
	-khtml-background-clip:padding-box;
	-khtml-border-radius:6px;
	-moz-background-clip:padding;
	-moz-border-radius:6px;
	-moz-box-shadow:rgba(0,0,0,0.15) -2px 3px 3px;
	-moz-transform:rotate(-2deg);
	-ms-background-clip:padding-box;
	-ms-border-radius:6px;
	-ms-transform:rotate(-2deg);
	-o-background-clip:padding-box;
	-o-border-radius:6px;
	-o-box-shadow:rgba(0,0,0,0.15) -2px 3px 3px;
	-o-transform:rotate(-2deg);
	-webkit-background-clip:padding;
	-webkit-border-radius:6px;
	-webkit-box-shadow:rgba(0,0,0,0.15) -2px 3px 3px;
	-webkit-transform:rotate(-2deg);
	background:#2b445c;
	background-clip:padding-box;
	border-radius:6px;
	box-shadow:rgba(0,0,0,0.15) -2px 3px 3px;
	content:\" \";
	height:260px;
	left:-4px;
	position:absolute;
	right:8px;
	top:8px;
	transform:rotate(-2deg);
	z-index:-2;
}

body
{
	-khtml-background-clip:padding-box;
	-khtml-border-radius:6px;
	-moz-background-clip:padding;
	-moz-border-radius:6px;
	-moz-box-sizing:border-box;
	-ms-background-clip:padding-box;
	-ms-border-radius:6px;
	-ms-box-sizing:border-box;
	-o-background-clip:padding-box;
	-o-border-radius:6px;
	-webkit-background-clip:padding;
	-webkit-border-radius:6px;
	-webkit-box-sizing:border-box;
	background:#FFF;
	background-clip:padding-box;
	border-radius:6px;
	box-sizing:border-box;
	color:#000;
	font-family:\"Helvetica Neue\", Helvetica, Arial, sans;
	line-height:1;
	margin:50px auto 30px;
	max-width:1250px;
	min-height:280px;
	min-width:600px;
	padding:20px;
	position:relative;
	width:85%;
}

caption,th,td
{
	font-weight:400;
	text-align:left;
	vertical-align:middle;
}

div.field_with_errors input
{
	border:3px solid red;
}

div.field_with_errors label
{
	color:red;
	font-weight:700;
}

form input[type=text],form input[type=password]
{
	margin:0;
}

form label
{
	color:#6c7c9a;
	display:inline-block;
	font-size:.9em;
	font-weight:700;
	line-height:1.5em;
	padding-bottom:.2em;
	text-transform:uppercase;
}

form p
{
	margin-bottom:.6em;
	padding:0;
}

form textarea
{
	font-size:1.1em;
	height:12em;
}

h1,h2,h3,h4,h5,h6
{
	font-weight:700;
}

h1:after
{
	background-image:linear-gradient(rgba(170,170,170,0.5),rgba(255,255,255,0));
	border-top:1px solid #e5e5e5;
	bottom:-16px;
	content:\" \";
	height:15px;
	left:0;
	position:absolute;
	right:0;
	z-index:1;
}

h1
{
	-khtml-border-top-left-radius:6px;
	-khtml-border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-moz-box-shadow:rgba(255,255,255,0.15) 0 1px inset, #FFF 0 1px;
	-ms-border-top-left-radius:6px;
	-ms-border-top-right-radius:6px;
	-o-border-top-left-radius:6px;
	-o-border-top-right-radius:6px;
	-o-box-shadow:rgba(255,255,255,0.15) 0 1px inset, #FFF 0 1px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-box-shadow:rgba(255,255,255,0.15) 0 1px inset, #FFF 0 1px;
	background-image:linear-gradient(#42678d,#223447);
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	box-shadow:rgba(255,255,255,0.15) 0 1px inset, #FFF 0 1px;
	color:#fff;
	font-size:2.5em;
	font-weight:400;
	line-height:1em;
	margin:-20px -20px 15px;
	padding:20px 180px 20px 20px;
	position:relative;
	text-shadow:#192836 0 -2px;
}

h2,h3,h4
{
	color:#2d4159;
	font-size:1.3em;
	line-height:1.5em;
	margin:.2em 0 .5em;
}

html
{
	-moz-background-size:80px 80px;
	-o-background-size:80px 80px;
	-webkit-background-size:80px 80px;
	background:#d3dd8a;
	background-image:linear-gradient(lefttop,rgba(255,255,255,0.1) 25% 25% 50% 50% 75% 75%;
	background-size:80px 80px;
}

input[type=submit]:active
{
	-moz-box-shadow:#192836 0 .08em .2em 1px inset;
	-o-box-shadow:#192836 0 .08em .2em 1px inset;
	-webkit-box-shadow:#192836 0 .08em .2em 1px inset;
	background-color:#0f3f6e;
	background-image:linear-gradient(#283f55,#2b445c30%,#253a4e50%,#20324450%,#355371);
	border-color:#101821;
	box-shadow:#192836 0 .08em .2em 1px inset;
	text-shadow:#000 0 -1px -1px;
}

input[type=submit]:hover,input[type=submit]:focus
{
	background-color:#11467c;
	background-image:linear-gradient(#769bbf,#466d9410%,#283f5550%,#23374b50%,#34516d);
	border-color:#15202c;
	text-shadow:#02070c 0 1px 1px;
}

input[type=submit]
{
	-khtml-background-clip:padding-box;
	-khtml-border-radius:6px;
	-moz-background-clip:padding;
	-moz-border-radius:6px;
	-moz-box-shadow:rgba(255,255,255,0.306) 0 0 .1em 1px inset;
	-ms-background-clip:padding-box;
	-ms-border-radius:6px;
	-o-background-clip:padding-box;
	-o-border-radius:6px;
	-o-box-shadow:rgba(255,255,255,0.306) 0 0 .1em 1px inset;
	-webkit-background-clip:padding;
	-webkit-border-radius:6px;
	-webkit-box-shadow:rgba(255,255,255,0.306) 0 0 .1em 1px inset;
	background-clip:padding-box;
	background-color:#134e89;
	background-image:linear-gradient(#81a2c3,#4b749e10%,#2d466050%,#283f5550%,#395878);
	border-color:#192836;
	border-radius:6px;
	border-width:1px;
	box-shadow:rgba(255,255,255,0.306) 0 0 .1em 1px inset;
	font-size:1.2em;
	line-height:1.2em;
	padding:.3em 1em;
	text-shadow:#030e19 0 1px 1px;
}

ol,ul
{
	list-style:none;
}

p.flash:empty
{
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
	background:none;
	border-width:0;
	box-shadow:none;
	height:0;
	overflow:hidden;
	padding:0;
}

p.flash
{
	-khtml-background-clip:padding-box;
	-khtml-border-bottom-left-radius:6px;
	-khtml-border-bottom-right-radius:6px;
	-moz-background-clip:padding;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-box-shadow:rgba(0,0,0,0.5) 0 1px 3px;
	-moz-box-sizing:border-box;
	-ms-background-clip:padding-box;
	-ms-border-bottom-left-radius:6px;
	-ms-border-bottom-right-radius:6px;
	-ms-box-sizing:border-box;
	-o-background-clip:padding-box;
	-o-border-bottom-left-radius:6px;
	-o-border-bottom-right-radius:6px;
	-o-box-shadow:rgba(0,0,0,0.5) 0 1px 3px;
	-webkit-background-clip:padding;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-box-shadow:rgba(0,0,0,0.5) 0 1px 3px;
	-webkit-box-sizing:border-box;
	background-clip:padding-box;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
	border:3px solid rgba(255,255,255,0.5);
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-top:0;
	box-shadow:rgba(0,0,0,0.5) 0 1px 3px;
	box-sizing:border-box;
	color:#fff;
	left:0;
	margin:0 auto;
	padding:.4em .8em;
	position:absolute;
	text-align:center;
	text-shadow:rgba(0,0,0,0.6) 0 -1px;
	top:-51px;
	width:100%;
}

p.tag_list
{
	border-top:1px dashed #ddd;
	color:#999;
	font-size:.9em;
	margin:1em 0;
	padding-top:.5em;
}

q,blockquote
{
	quotes:\"\" \"\";
}

q:before,q:after,blockquote:before,blockquote:after
{
	content:\"\";
}

table
{
	border-collapse:separate;
	border-spacing:0;
	vertical-align:middle;
}

.article_actions a:hover img
{
	-ms-filter:\"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)\";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6;
}

.article_actions a[data-method=\'delete\']
{
	right:90px;
}

.article_actions a[href$=\'edit\'],.article_actions a[data-method=\'delete\']
{
	float:none;
	margin-left:.5em;
	padding:4px 12px 3px 8px;
	text-decoration:none;
}

.article_actions a
{
	color:#999;
	float:left;
}

.article_actions img
{
	-ms-filter:\"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)\";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity:0.2;
	position:relative;
	top:2px;
}

.article_actions
{
	border-bottom:1px dashed #ddd;
	font-size:.9em;
	margin-bottom:.7em;
	overflow:hidden;
	padding-bottom:.7em;
	text-align:right;
	zoom:1;
}

.comment + .comment
{
	border-top:none;
}

.comment + h3,.comment + h4
{
	margin:0 0 .5em;
}

.comment p:first-child
{
	border:0;
	color:#2d4159;
	font-weight:700;
	padding-bottom:1em;
	padding-left:0;
}

.comment p
{
	border-left:5px solid rgba(45,65,89,0.5);
	padding-left:12px;
}

.comment:nth-last-of-type(1)
{
	border-bottom:1px solid #ddd;
	margin-bottom:2em;
}

.comment
{
	background:#f5f5f5;
	border-bottom:1px dashed #ddd;
	border-top:1px solid #ddd;
	color:#6c7c9a;
	font-size:.9em;
	padding:1em 0;
}

.fancy-button-reset-base-class,input[type=submit]
{
	background:url(\'/images/button_bg.png?1301401396\') repeat-x bottom left;
	border-style:solid;
	cursor:pointer;
	display:inline-block;
	font-family:\"Lucida Grande\",Lucida,Arial,sans-serif;
	font-weight:700;
	margin:0;
	overflow:visible;
	text-decoration:none;
	width:auto;
}

.fancy-button-reset-base-class::-moz-focus-inner,input[type=submit]::-moz-focus-inner
{
	border:none;
	padding:0;
}

.fancy-button-reset-base-class:focus,input[type=submit]:focus
{
	outline:none;
}

.headings,h1
{
	font-family:\"Yanone Kaffeesatz\", sans;
}

.input,form input[type=text],form input[type=password],form textarea
{
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
	-moz-box-sizing:border-box;
	-ms-border-radius:4px;
	-ms-box-sizing:border-box;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	-webkit-box-sizing:border-box;
	background-color:#f5f5f5;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	color:#1f2d3e;
	font-size:1.3em;
	padding:.3em .4em;
	width:100%;
}

.input:focus,form input[type=text]:focus,form input[type=password]:focus,form textarea:focus
{
	-moz-box-shadow:rgba(129,177,223,0.7) 0 0 5px 1px inset;
	-o-box-shadow:rgba(129,177,223,0.7) 0 0 5px 1px inset;
	-webkit-box-shadow:rgba(129,177,223,0.7) 0 0 5px 1px inset;
	background-color:#fff;
	border-color:#81b1df;
	box-shadow:rgba(129,177,223,0.7) 0 0 5px 1px inset;
	outline:0;
}

.top-button,a.new_article,.article_actions a[href$=\'edit\'],.article_actions a[data-method=\'delete\']
{
	-khtml-border-radius:1.2em;
	-moz-border-radius:1.2em;
	-moz-box-shadow:rgba(255,255,255,0.4) 0 -1px inset;
	-ms-border-radius:1.2em;
	-o-border-radius:1.2em;
	-o-box-shadow:rgba(255,255,255,0.4) 0 -1px inset;
	-webkit-border-radius:1.2em;
	-webkit-box-shadow:rgba(255,255,255,0.4) 0 -1px inset;
	background-image:linear-gradient(#ffffff,#cccccc);
	border-radius:1.2em;
	box-shadow:rgba(255,255,255,0.4) 0 -1px inset;
	color:#999;
	display:inline-block;
	font-size:.9em;
	padding:4px 11px;
	position:absolute;
	right:20px;
	text-decoration:none;
	text-shadow:#fff 0 1px;
	top:26px;
}

.top-button:active,a.new_article:active,.article_actions a[href$=\'edit\']:active,.article_actions a[data-method=\'delete\']:active
{
	background-image:linear-gradient(#d9d9d9,#f5f5f5);
}

.top-button:hover,a.new_article:hover,.article_actions a[href$=\'edit\']:hover,.article_actions a[data-method=\'delete\']:hover
{
	color:#555;
}

#articles .actions a:hover
{
	-ms-filter:\"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)\";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity:0.4;
}

#articles .actions a
{
	-ms-filter:\"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)\";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity:0.2;
}

#articles .actions
{
	border-left:1px dotted #ddd;
	line-height:1em;
	margin-left:3px;
	padding-left:8px;
	position:relative;
	top:2px;
}

#articles .tag_list
{
	color:#999;
	display:inline-block;
	font-size:.8em;
	padding-top:.5em;
}

#articles li > a:first-child
{
	color:#2d4159;
	display:block;
	font-weight:700;
	padding-bottom:.1em;
}

#articles li:last-child
{
	-khtml-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	-ms-border-bottom-left-radius:6px;
	-o-border-bottom-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom:0;
	border-bottom-left-radius:6px;
}

#articles li
{
	border-bottom:1px dashed #e5e5e5;
	font-size:1.2em;
	margin-right:20px;
	padding:1em 0 .8em;
	position:relative;
}

#articles
{
	-khtml-border-bottom-left-radius:6px;
	-khtml-border-bottom-right-radius:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-box-sizing:border-box;
	-ms-border-bottom-left-radius:6px;
	-ms-border-bottom-right-radius:6px;
	-ms-box-sizing:border-box;
	-o-border-bottom-left-radius:6px;
	-o-border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-box-sizing:border-box;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-right:1px solid #e2e2e2;
	box-sizing:border-box;
	margin:-15px -20px -20px;
	min-width:550px;
	padding:0 20px;
	position:relative;
}

#sidebar + ul li
{
	padding-right:30px;
}

#sidebar + ul:after
{
	background:#e5e5e5;
	bottom:0;
	content:\" \";
	position:absolute;
	right:180px;
	top:0;
	width:1px;
}

#sidebar + ul
{
	padding-right:180px;
}

#sidebar ul a
{
	color:#6c7c9a;
}

#sidebar ul
{
	font-weight:400;
	margin:.5em 0;
}

#sidebar
{
	float:right;
	font-weight:700;
	margin:-15px -20px 0 0;
	padding:15px 10px;
	position:relative;
	width:150px;
	z-index:1;
}

input[type=submit],input[type=submit]:visited,input[type=submit]:active,input[type=submit]:active:visited,input[type=submit]:hover,input[type=submit]:hover:visited,input[type=submit]:focus,input[type=submit]:focus:visited
{
	color:#fff;
}